@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: Art;
    src: url(../../assets/Artpast.ttf);
}

h2{
    font-family: Art;
}