@font-face {
  font-family: Okaluera;
  src: url(../../src/assets/InkBrush_DEMO-Textured.otf);
}
h1 {
  color: #369;
  font-family: Okaluera;
  font-size: 350%;
  font-weight: 550;
  text-align: center;
}
h2{
  font-family: Okaluera;
  font-size: 300%;
  text-align: center;
}
